In [1]:
import pandas as pd
data = pd.read_csv('data.csv')

In [2]:
data = data[7:209]
data

,Title：Population by single age,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
7,Medium,Male,'0,95153,102859,104752,102046,95090,88146,87291,81634,77117,68164,75567
8,Medium,Male,'1,122796,102420,110605,112299,108888,102220,94647,91961,84284,82066,78901
9,Medium,Male,'2,104333,123040,102614,110764,112410,109010,102418,94706,91675,84731,80775
10,Medium,Male,'3,88242,104313,122936,102610,110720,112362,109031,102231,93923,91500,85048
11,Medium,Male,'4,101689,88248,104302,122930,102612,110652,112352,108789,101276,93707,91963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Medium,Female,'96,2239,2293,2514,2897,3379,3607,3717,3978,4368,4809,5415
205,Medium,Female,'97,1406,1719,1780,1923,2238,2584,2778,2926,3106,3190,3834
206,Medium,Female,'98,1021,1041,1288,1318,1419,1680,1930,2101,2216,2265,2671
207,Medium,Female,'99,772,749,777,915,973,1020,1238,1437,1530,1552,1753
208,Medium,Female,'100 +,1420,1543,1625,1664,1805,1932,2119,2365,2639,2704,2485

In [3]:
age = []
for d in data['Unnamed: 2']:
    age.append(d)
for i in range(len(age)):
    age[i] = age[i].replace("'", "").replace("+", "")
    age[i] = int(age[i])

In [4]:
year = []
for i in data['Unnamed: 13']:
    year.append(i)
for i in range(len(age)):
    year[i] = int(year[i])

In [5]:
youth = 0
young = 0
adults = 0
elderly = 0
for i in range(len(age)):
    if age[i] < 15:
        youth += year[i]
    elif age[i] < 25:
        young += year[i]
    elif age[i] < 65:
        adults += year[i]
    else:
        elderly += year[i]
total = sum(year)
print(youth)
print(young)
print(adults)
print(elderly)

2795396
2335055
13872415
4275776

In [6]:
print("Youth: Total = {}, Proportion = {}%".format(youth, round(youth/total*100,2)))
print("Young adults: Total = {}, Proportion = {}%".format(young, round(young/total*100,2)))
print("Adults: Total = {}, Proportion = {}%".format(adults, round(adults/total*100,2)))
print("Elderly: Total = {}, Proportion = {}%".format(elderly, round(elderly/total*100,2)))
print("Total Population: {}".format(total))

Youth: Total = 2795396, Proportion = 12.01%
Young adults: Total = 2335055, Proportion = 10.03%
Adults: Total = 13872415, Proportion = 59.59%
Elderly: Total = 4275776, Proportion = 18.37%
Total Population: 23278642